In [1]:
from src.autoseg import *
import pandas as pd

### Manual Reproduction

In [ ]:
# first, at src/autoseg.py, you should fill out key-owner:api_key dictionary
process('tiage', 'defdts_tiage', 10, 0, 'SAVE_PATH.json', 'chatgpt_key_owner_id', True, [], 'gpt-4o')

### Main Result

In [ ]:
agg = agg_result('tiage', 'defdts_tiage', 'test', 100)
pretty_print(agg['performance'], 6)
pd.DataFrame(agg['report'])

[pk] 0.23228 [wd] 0.255769 [f1] 0.698835

,all,JUST_ANSWER,INTRODUCE_TOPIC,JUST_COMMENT,DEVELOP_TOPIC,CHANGE_TOPIC
tp,210,0,189,0,0,21
fp,76,1,68,1,0,6
tn,1073,456,0,498,119,0
fn,105,23,0,35,47,0

In [ ]:
agg = agg_result('superseg', 'defdts_superseg', 'test', 1322)
pretty_print(agg['performance'], 6)
pd.DataFrame(agg['report'])

[pk] 0.314815 [wd] 0.323763 [f1] 0.68593

     all  ANSWERING  RELEVANT_QUESTION  DIFFERENT_QUESTION  ADDITIONAL_COMMENT
tp  2457          0                  1                2456                   0
fp   690          2                  0                 688                   0
tn  9977       7819                811                  83                1264
fn  1560        168                989                 192                 211

In [ ]:
agg = agg_result('dialseg711', 'defdts_711', 'test', 711)
pretty_print(agg['performance'], 6)
pd.DataFrame(agg['report'])

[pk] 0.015046 [wd] 0.018243 [f1] 0.979031

      all  JUST_ANSWER  CHANGE_TOPIC  DEVELOP_TOPIC  JUST_COMMENT
tp   2708            0          2708              0             0
fp     81            6            66              3             6
tn  15101         7675             0           2359          5067
fn     35            8             0             13            14

### Ablation Study

In [ ]:
pretty_print(compute_gpt_performance('tiage', 'test', 'defdts_wo_all', 100, simple=True)[0])
pretty_print(compute_gpt_performance('tiage', 'test', 'defdts_wo_cls', 100)[0])
pretty_print(compute_gpt_performance('tiage', 'test', 'defdts_wo_exp', 100)[0])
pretty_print(compute_gpt_performance('tiage', 'test', 'defdts_wo_con', 100)[0])
pretty_print(compute_gpt_performance('tiage', 'test', 'defdts_tiage', 100)[0])

[pk] 0.294789 [wd] 0.332537 [f1] 0.605263
[pk] 0.315618 [wd] 0.34244 [f1] 0.523517
[pk] 0.287491 [wd] 0.307509 [f1] 0.617329
[pk] 0.262527 [wd] 0.29641 [f1] 0.681682
[pk] 0.23228 [wd] 0.255769 [f1] 0.698835

### Other methodologies: S3-DST

In [9]:
pretty_print(compute_gpt_performance('tiage', 'test', 'no_dst_uttr', 100)[0])

[pk] 0.438782 [wd] 0.497647 [f1] 0.264657

In [10]:
pretty_print(compute_gpt_performance('superseg', 'test', 'no_dst_uttr', 1322)[0])

[pk] 0.442244 [wd] 0.468565 [f1] 0.403774

In [11]:
pretty_print(compute_gpt_performance('dialseg711', 'test', 'no_dst_uttr', 711)[0])

[pk] 0.087096 [wd] 0.108657 [f1] 0.790057

### Other Methodologies: Plain Text

In [12]:
pretty_print(compute_plain_performance('tiage', 'test', 100))

[pk] 0.444973 [wd] 0.484725 [f1] 0.184971

In [13]:
pretty_print(compute_plain_performance('superseg', 'test', 1322))

[pk] 0.412207 [wd] 0.42747 [f1] 0.048055

In [14]:
pretty_print(compute_plain_performance('dialseg711', 'test', 711))

[pk] 0.333151 [wd] 0.353186 [f1] 0.010012

### Cohen's Kappa

In [ ]:
print(f"{compute_kappa('tiage', 'defdts_tiage', 100):.3f}")
print(f"{compute_kappa('superseg', 'defdts_superseg', 1322):.3f}")
print(f"{compute_kappa('dialseg711', 'defdts_711', 711):.3f}")

0.485
0.429
0.975

### Local LLMs

In [25]:
print('[Def-DTS]')
for domain in['tiage', 'superseg', 'dialseg711']:
    print(domain)
    pretty_print(compute_gpt_performance(domain, 'test', 'llama', 2000)[0])
    pretty_print(compute_gpt_performance(domain, 'test', 'qwen', 2000)[0])

[Def-DTS]
tiage
[pk] 0.306932 [wd] 0.33902 [f1] 0.551601
[pk] 0.327381 [wd] 0.345788 [f1] 0.52988
superseg
[pk] 0.384305 [wd] 0.385416 [f1] 0.432133
[pk] 0.432577 [wd] 0.433688 [f1] 0.171429
dialseg711
[pk] 0.028513 [wd] 0.039063 [f1] 0.940874
[pk] 0.101764 [wd] 0.207908 [f1] 0.72885

In [28]:
print('[NO_DST_uttr]')
for domain in ['tiage', 'superseg', 'dialseg711']:
    print(domain)
    pretty_print(compute_gpt_performance(domain, 'test', 'llama_nodst', 2000)[0])
    
for domain in ['tiage', 'superseg', 'dialseg711']:
    print(domain)
    pretty_print(compute_gpt_performance(domain, 'test', 'qwen_nodst', 2000)[0])

[NO_DST_uttr]
tiage
[pk] 0.456039 [wd] 0.474171 [f1] 0.142857
superseg
[pk] 0.489916 [wd] 0.512166 [f1] 0.071625
dialseg711
[pk] 0.158376 [wd] 0.19006 [f1] 0.553234
tiage
ERROR in    8: 0 != 16
ERROR in    9: 0 != 14
ERROR in   12: 0 != 14
ERROR in   13: 0 != 14
ERROR in   19: 0 != 14
ERROR in   21: 0 != 16
ERROR in   28: 0 != 16
ERROR in   34: 0 != 16
ERROR in   36: 0 != 16
ERROR in   38: 0 != 14
ERROR in   40: 0 != 16
ERROR in   41: 0 != 16
ERROR in   44: 0 != 16
ERROR in   45: 0 != 16
ERROR in   56: 0 != 16
ERROR in   57: 0 != 16
ERROR in   58: 0 != 16
ERROR in   62: 0 != 16
ERROR in   67: 0 != 16
ERROR in   70: 0 != 16
ERROR in   71: 0 != 16
ERROR in   76: 0 != 14
ERROR in   79: 0 != 16
ERROR in   80: 0 != 16
ERROR in   84: 0 != 16
ERROR in   86: 0 != 16
ERROR in   87: 0 != 16
ERROR in   99: 0 != 16
mismatched_count:  28
[pk] 0.363057 [wd] 0.384437 [f1] 0.398827
superseg
ERROR in   15: 0 != 10
ERROR in   30: 0 != 10
ERROR in  453: 0 != 10
mismatched_count:  3
[pk] 0.441133 [wd] 0.448464 [f1] 0.100386
dialseg711
ERROR in    0: 0 != 23
ERROR in    5: 0 != 33
ERROR in   14: 0 != 27
ERROR in   16: 0 != 35
ERROR in   20: 0 != 30
ERROR in   24: 0 != 33
ERROR in   25: 0 != 23
ERROR in   29: 0 != 23
ERROR in   31: 0 != 23
ERROR in   35: 0 != 41
ERROR in   36: 0 != 21
ERROR in   37: 0 != 41
ERROR in   70: 0 != 17
ERROR in   71: 0 != 31
ERROR in   73: 0 != 27
ERROR in   74: 0 != 33
ERROR in   76: 0 != 19
ERROR in  100: 0 != 21
ERROR in  104: 0 != 13
ERROR in  105: 0 != 29
ERROR in  107: 0 != 27
ERROR in  108: 0 != 27
ERROR in  143: 0 != 29
ERROR in  146: 0 != 35
ERROR in  147: 0 != 27
ERROR in  149: 0 != 31
ERROR in  151: 0 != 23
ERROR in  158: 0 != 23
ERROR in  159: 0 != 29
ERROR in  330: 0 != 23
ERROR in  333: 0 != 21
ERROR in  336: 0 != 35
ERROR in  337: 0 != 31
ERROR in  338: 0 != 19
ERROR in  372: 0 != 33
ERROR in  374: 0 != 23
ERROR in  375: 0 != 11
ERROR in  376: 0 != 24
ERROR in  377: 0 != 37
ERROR in  378: 0 != 33
mismatched_count:  40
[pk] 0.050033 [wd] 0.051902 [f1] 0.864754

In [27]:
print('[PLAIN]')
for domain in ['tiage', 'superseg', 'dialseg711']:
    print(domain)
    pretty_print(compute_plain_performance(domain, 'test', 1322, 0, False, [], f'results/llama_plain_{domain}.json', True))
    pretty_print(compute_plain_performance(domain, 'test', 1322, 0, False, [], f'results/qwen_plain_{domain}.json', True))

[PLAIN]
tiage
[pk] 0.471612 [wd] 0.514936 [f1] 0.215026
[pk] 0.495101 [wd] 0.532821 [f1] 0.161702
superseg
[pk] 0.491698 [wd] 0.494809 [f1] 0.02649
[pk] 0.485416 [wd] 0.486666 [f1] 0.058722
dialseg711
[pk] 0.350285 [wd] 0.373024 [f1] 0.032333
[pk] 0.421684 [wd] 0.434034 [f1] 0.011737